.ant-menu-horizontal{
  line-height:70px;
}

 .ant-menu-item-selected{
  background-color: #1890FF !important;
}

.smart-table-container{
  margin: 5% 5%;
}

.up-btn-container{
  text-align: right;
  margin: 5% 5% 0.4% 5%;
}

/* .nav-1{
 width:33%;
}

.nav-2{
  width:33%;
} */